<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neu.lab.conflict.data.dao.ArtifactVersionDao">
    <resultMap id="BaseResultMap" type="ArtifactVersion">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="version" property="version" jdbcType="VARCHAR"/>
        <result column="major" property="major" jdbcType="VARCHAR"/>
        <result column="minor" property="minor" jdbcType="VARCHAR"/>
        <result column="patch" property="patch" jdbcType="VARCHAR"/>
        <result column="priority" property="priority" jdbcType="INTEGER"/>
        <result column="mavenArtifactId" property="mavenArtifactId" jdbcType="INTEGER"/>
    </resultMap>
    <select id="selectAllArtifactVersionByMavenArtifactId" resultMap="BaseResultMap" parameterType="INTEGER">
        SELECT *
        FROM artifact_version
        WHERE mavenArtifactId = #{mavenArtifactId}
        ORDER BY priority DESC
    </select>
    <insert id="insertArtifactVersion" parameterType="ArtifactVersion">
        INSERT
        INTO artifact_version(version, major, minor, patch, priority, mavenArtifactId)
        VALUES(#{version}, #{major}, #{minor}, #{patch}, #{priority}, #{mavenArtifactId})
    </insert>
    <insert id="insertArtifactVersionSet" parameterType="java.util.Set">
        INSERT
        INTO artifact_version(version, major, minor, patch, priority, mavenArtifactId)
        VALUES
        <foreach collection="set" item="artifactVersion" index="index" separator=",">
            (
            #{artifactVersion.version},
            #{artifactVersion.major},
            #{artifactVersion.minor},
            #{artifactVersion.patch},
            #{artifactVersion.priority},
            #{artifactVersion.mavenArtifactId}
            )
        </foreach>
    </insert>
    <select id="isExist" parameterType="INTEGER" resultType="INTEGER">
        SELECT count(*)
        FROM artifact_version
        WHERE mavenArtifactId = #{mavenArtifactId}
    </select>
</mapper>