<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neu.lab.conflict.data.dao.MavenArtifactDao">
    <resultMap id="BaseResultMap" type="MavenArtifact">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="artifactId" property="artifactId" jdbcType="VARCHAR"/>
        <result column="groupId" property="groupId" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectAllMavenArtifact" resultMap="BaseResultMap">
        SELECT *
        FROM maven_artifact
    </select>
    <select id="selectMavenArtifact" resultType="MavenArtifact">
        SELECT *
        FROM maven_artifact
        WHERE groupId = #{arg0}
        AND artifactId = #{arg1}
    </select>
    <select id="isExist" resultType="Integer">
        SELECT 1
        FROM maven_artifact
        WHERE groupId = #{arg0}
        AND artifactId = #{arg1}
        Limit 1
    </select>

    <insert id="insertMavenArtifact" parameterType="MavenArtifact">
        INSERT INTO
        maven_artifact(groupId, artifactId)
        VALUES(#{groupId}, #{artifactId})
    </insert>

    <delete id="deleteMavenArtifact">
        DELETE
        FROM maven_artifact
        WHERE groupId = #{arg0}
        AND artifactId = #{arg1}
    </delete>
</mapper>